!.gitignore

.build*/
.idea/
build*/
.coveralls.yml
*.make
*.mk
*.exe
*.err
*.lk*
*.sym
*.swp
~*
*~
*.bak
#*.map
*.sdf
*.slo
*.lo
*.pdb
*.idb
*.o
*.obj
*.so
*.dll
*.so.*
*.dylib
*.lib
*.lai
*.la
*.a
*.exe
*.out
*.app
*.log

# KDevelop specific directories and files
.kdev4/
*.kdev4

# Qt specific directories and files
moc_*.cpp
qrc_*.cpp

# Doxygen specific directories and files
doxygen/
Doxyget.err

# Visual Studio specific directories and files
.vs/
CMakeSettings.json

# NetBeans/Eclipse specific directories and files
.settings/
nbproject/
.project
.cproject
